@import url("https://unpkg.com/leaflet@1.7.1/dist/leaflet.css");
@import "../../../shared/colors";
@import "../../../shared/breakpoints";

.location {
  background-color: $color-alabaster;
  &__row {
    display: flex;

    @media (max-width: $desktopMax) {
      flex-direction: column;
    }
  }
  &__map,.leaflet-container {
      width: 60%;
      height: 673px;
      filter: grayscale(1);

      @media (max-width: $desktopMax) {
        display: block;
        width: 100%;
        order: 2;
        padding: 24px;
        height: 300px;
        min-height: 300px;
      }
    
  }
  &__infoCol {
    flex: 1;
    padding: 40px 127px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: $desktopMax) {
      display: block;
      width: 100%;
      order: 1;
      padding: 24px;
      text-align: center;
    }
  }
  &__description {
    font-size: 24px;
    line-height: 29px;
    color: $color-tomthumb;
  }

  &__address {
    font-size: 16px;
    line-height: 30px;
    color: $color-scorpion;
    margin-top: 48px;
  }

  &__marker {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    position: relative;
    background-image: url('../../../images/banner@2x.png');
    background-size: cover;
    border: 3px solid $color-faulred;
  }

  .leaflet-pane {
    z-index: 10;
  }
}
