@import '../../shared/_colors.scss';

.button {
    -webkit-appearance: none;
    appearance: none;
    margin:0;
    padding:0;
    background: none;
    color: $color-faulred;
    border: 2px solid currentColor;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.12px;
    padding: 10px 30px;
    position: relative;
    transition: .2s ease-in-out;
    
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: $color-faulred;
        z-index: 1;
        transition: .2s ease-in-out;
    }

    &:hover {
        color: $color-white;
        &:before {
            width: 100%;
        }
    }

}