@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
@import '../../shared/colors';

.text{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    z-index: 2;
    &--regular{
        font-weight: 400;
    }

    &--bold{
        font-weight: 600;
    }


    &--header{
        font-size: 32px;
        line-height: 39px;
        color: $color-cameo;
        text-transform: uppercase;
    }
}