@import '../../shared/colors';
@import '../../shared/mixins';

$bp-small: 400px;
.countdown {
    &__wrapper {
        display: flex;
    }
    &__day, &__hours, &__minutes,&__seconds{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $color-tomthumb;
        padding: 0 12px;
    }

    &__time, &__colon{
        color: $color-tomthumb;
        @include fluid-type( 1024px, 1920px, 40px, 110px);
        line-height: 1;

        @media (max-width: $bp-small) {
            font-size: 24px;
        }
    }

    &__label {
        @include fluid-type( 1024px, 1920px, 14px, 30px);
    }

    
}