@import "../../shared/colors";

$lg-bp: 2046px;

.hashTagLink {
  position: fixed;
  z-index: 20;
  bottom: 24px;
  left: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;

  @media (max-width: $lg-bp) {
    left: 0;
  }

  &__wrapper {
    position: relative;
    color: $color-karry;
    transform: rotate(-90deg);
    transform-origin: 0 0;
  }

  a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    line-height: 18px;
    position: relative;

    padding-right: 44px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 100%;
      background-color: $color-faulred;
      transition: 0.2s ease-in-out;
    }
    &::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 1px;
      background-color: currentColor;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:hover {
      &:before {
        width: calc(100% - 15px);
      }
    }
  }

  &__modal {
    @media (max-width: 999px) {
      .modal__wrapper {
        padding: 0;
      }
    }
  }

  &__modalHeader {
    font-size: 32px;
    line-height: 39px;
  }

  &__modalWrapper {
    @media (max-width: 999px) {
      padding: 70px;
      overflow: scroll;
    }
    @media (max-width: 540px) {
      padding: 40px;
    }
  }

  &__modalParagraph {
    margin-top: 48px;
    text-align: left;
    line-height: 30px;
  }

  &__modalButtonsContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 32px;

    @media (max-width: 570px) {
      flex-direction: column;
    }
  }

  &__button {
    margin: 0 25px;

    @media (max-width: 570px) {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  &__buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    > svg {
      width: 36px;
      height: auto;
      display: flex;
      margin-right: 24px;
      position: relative;
      z-index: 2;
    }
  }

  &--instagram {
    border-color: $color-tomthumb;
    color: $color-tomthumb;

    &:before {
      background-color: $color-tomthumb;
    }
  }

  &--facebook {
    border-color: $color-terracota;
    color: $color-terracota;

    &:before {
      background-color: $color-terracota;
    }
  }
}

.bold {
  font-weight: 600;
}
