$color-verdigris: #605c36;
$color-white: #fff;
$color-black: #000;
$color-alabaster:#F8F8F8;
$color-cameo:#dbab9d;
$color-tomthumb:#455437;
$color-scorpion: #606060;
$color-faulred:#8a1619;
$color-karry:#fee4d5;
$color-calico: #e3c69b;
$color-bridesmaid: #fef1e9;
$color-sepianskin:#a35741;
$color-raffia: #e8d0af;
$color-ivory: #feffef;
$color-terracota: #AB3F0E;
